<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <main>
    <h1>Boards</h1>
    <% boards.forEach(board => { %>
      <li><a href="/boards/key/<%= board.key %>"><%= board.name %></a></li>
    <% }) %>
    <a href="/boards/new">Create board</a>
  </main>
</body>
</html>
