<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Issue</title>
</head>

<body>
	<header>
		<h1>New board</h1>
	</header>
	<main>
		<a href="#" onclick="history.go(-1)">Back</a>
		<form action="/boards" method="post">
			<label for="name">
				Name
				<input type="text" id="name" name="name">
			</label>
			<br>
			<label for="key">
				Key
				<input type="text" id="key" name="key">
			</label>
			<br>
			<input type="submit" value="Create board">
		</form>
	</main>
</body>

</html>