<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <header>
    <h1>Backlog</h1>
  </header>
  <main>
    <h2>Backlog</h2>
    <ul>
      <% issues.forEach(issue => { %>
        <li><a href="/boards/key/<%= boardKey %>/issues/<%= issue.id %>"><%= issue.title %></a></li>
      <% }) %>
    </ul>
    <a href="/boards/key/<%= boardKey %>/issues/new">+ Create issue</a>
  </main>
</body>
</html>
